<!doctype html>
<html ng-app="jsBooks">
<head>
    <meta charet="utf-8">
    <title>JSBooks - Free Javascript Ebooks</title>

    <meta name="description" content="JSbooks is a showcase of the bests free ebooks about Javascript. Find here the best publications about your favourite programming langage without spending any bucks !">
    <meta name="author" content="Revolunet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="http://jsbooks.revolunet.com/img/cover_modularjavascript.png" />
    <meta property="og:title" content="JSbooks - Free Javascript Ebooks" />
    <meta property="og:description" content="JSbooks is a showcase of the bests free ebooks about Javascript. Find here the best publications about JS without spending any bucks !" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://jsbooks.revolunet.com/" />

    <meta name="twitter:card" content="JSbooks is a showcase of the bests free ebooks about Javascript. Find here the best publications about JS without spending any bucks !"/>
    <meta name="twitter:url" content="http://jsbooks.revolunet.com/"/>
    <meta name="twitter:title" content="JSbooks - Free Javascript Ebooks"/>
    <meta name="twitter:description" content="JSbooks is a showcase of the bests free ebooks about Javascript. Find here the best publications about JS without spending any bucks !"/>
    <meta name="twitter:image" content="http://jsbooks.revolunet.com/img/cover_modularjavascript.png"/>
    <meta name="twitter:creator" value="@revolunet" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,600,400' rel='stylesheet' type='text/css'>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="header__title">
                <a href="http://jsbooks.revolunet.com"><span>JS</span>Books</a>
            </h1>
            <p class="header__baseline">Free Javascript ebooks</p>


        </div>
    </header>
    <main>
        <div ng-controller="MainCtrl as MainCtrl">
            <section class="meta">
                <div class="container">
                    <div ng-controller="FilterCtrl as FilterCtrl">
                        <div class="filter" >
                            <h3 class="filter__title">Tags :</h3>
                            <span
                                class="label"
                                ng-class="{ 'label--selected': FilterCtrl.isSelected('tags', tag) }"
                                ng-click="FilterCtrl.toggle('tags', tag)"
                                ng-repeat="tag in MainCtrl.tags"
                            >{{ tag }}
                            </span>
                        </div>
                        <div class="filter">
                            <h3 class="filter__title">Levels :</h3>
                            <span
                                class="book__level {{ 'book__level--' + level }} "
                                ng-class="{'label--selected': FilterCtrl.isSelected('levels', level) }"
                                ng-click="FilterCtrl.toggle('levels', level)"
                                ng-repeat="level in MainCtrl.levels"
                            >{{ level }}
                            </span>
                        </div>
                       <a class="tw__share" href="https://twitter.com/home?status=JSBooks%20-%20A%20curated%20list%20of%20free%20javascript%20ebooks%20%3A%20http%3A//jsbooks.revolunet.com%20%23javascript%20%23ebook%20%23resource" target="_blank">Share on Twitter</a>
                    </div>
                </div>
            </section>

            <section class="books">
                <div class="container">
                    <div masonry reload-on-resize>
                        <article class="book__item  masonry-brick" ng-repeat="book in MainCtrl.books|filterBooks">
                            <a ng-href="{{ book.url }}">
                                <img class="book__img" ng-src="{{ book.cover }}" alt="{{ book__title }}" width="120" />
                            </a>

                            <span class="book__level" ng-class="'book__level--' + book.level">{{ book.level }}</span>

                            <h3>
                                <a class="book__title" ng-href="{{ book.url }}">{{ book.title }}</a>
                            </h3>
                            <a class="book__author" ng-href="{{ book.authorUrl }}">{{ book.author }}</a>


                            <div class="book__info">{{ book.info }}</div>

                            <a href="{{ book.url }}" class="button">READ</a>

                            <div class="book_meta">
                                <span class="book_meta--title">Tags :</span> </span> <span class="label" ng-repeat="tag in book.tags">{{ tag }}</span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Fork on <a href="https://github.com/revolunet/JSbooks">Github</a></p>
            <p>JSBooks, made with &#x2665; by <a href="http://www.revolunet.com">Revolunet</a> (<a href="https://twitter.com/revolunet" target="_blank">Twitter</a>).</p>
            <p>CSS by <a href="http://www.philippebarbosa.com" target="_blank">Philippe Barbosa</a> (<a href="https://twitter.com/philippebarbosa">Twitter</a>).</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="plugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
    <script src="node_modules/angular-masonry/angular-masonry.min.js"></script>
    <script src="app.js"></script>

</body>
</html>


